<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.InquiryMapper">
    
    <insert id="inquiryWriteOk" parameterType="com.example.demo.dto.InquiryDto">
        INSERT INTO inquiry (userid, name, category, title, content, phone, pwd, status, writeday)
        VALUES (#{userid}, #{name}, #{category}, #{title}, #{content}, #{phone}, #{pwd}, 1, NOW());
    </insert>

    <select id="inquiryList" resultType="com.example.demo.dto.InquiryDto">
    	SELECT * FROM inquiry
    	ORDER BY id DESC
    	LIMIT #{index}, 10;
	</select>

	<select id="inquiryMyList" resultType="com.example.demo.dto.InquiryDto">
    	SELECT * FROM inquiry
    	WHERE userid = #{userid}
    	ORDER BY writeday DESC
    	LIMIT #{index}, 10;
	</select>
	
    <select id="getChong" resultType="Integer">
        SELECT COUNT(*) FROM inquiry;
    </select>

    <select id="getChongByUser" resultType="Integer">
        SELECT COUNT(*) FROM inquiry WHERE userid = #{userid};
    </select>

    <update id="increaseReadnum">
    	UPDATE inquiry SET readnum = readnum + 1 WHERE id = #{id};
	</update>


    <select id="readnum" resultType="com.example.demo.dto.InquiryDto">
        SELECT * FROM inquiry WHERE id = #{id};
    </select>

    <delete id="inquiryDelete">
        DELETE FROM inquiry WHERE id = #{id};
    </delete>

    <select id="getInquiryById" resultType="com.example.demo.dto.InquiryDto">
        SELECT * FROM inquiry WHERE id = #{id};
    </select>
    
    <update id="inquiryUpdate">
    	UPDATE inquiry 
    	SET title = #{title}, content = #{content}, category = #{category}, phone = #{phone}, status = #{status}
    	WHERE id = #{id}
    	<if test="pwd != null and pwd != '' and userid == 'guest'">
        	AND pwd = #{pwd}
    	</if>;
	</update>

</mapper>